<%= render_cell(:page_title, :show, data:{name: "<strong>#{@supplier.show_name}</strong> 评价列表",
                                          toolbar: {
                                                  right:
                                                          [
                                                                  (render_cell(:button, :show, data:
                                                                          {
                                                                                  name: fa_icon('plus-sign', text: t('model.create', :model => SupplierEvaluation.model_name.human)),
                                                                                  url: new_supplier_evaluation_path(:id=>@supplier.id),
                                                                                  options: {class: 'btn btn-primary'}
                                                                          }))

                                                          ]
                                          }
})
%>
<div>
<%= grid(@supplier_evaluations, :show_filters => :when_filtered,:class=> 'tablestyle') do |g|
  g.column name: t('得分') do |m|
    m.score
  end

  g.column name: t('评价详情') do |m|
    m.notes.to_s
  end

  g.column name: t('评价人') do |m|
    m.created_name.to_s
  end

  g.column name: t('评价时间') do |m|
    m.created_at.strftime('%Y-%m-%d')
  end

end -%>
</div>
