<tr class="selected">
  <td class="title">您已选择</td>
  <td>
    <ul>
      <%= spot_picker_medium_selected_items(spot_picker) %>
      <%= spot_picker_channel_selected_items(spot_picker) %>
      <%= spot_picker_spot_category_selected_items(spot_picker) %>
      <%= spot_picker_unit_type_selected_items(spot_picker) %>
    </ul>
  </td>
</tr>
