.table {
  th,
  td {
    padding: 4px 7px;

    &.btn-cell {
      padding: 0px;
      width: 26px;

      .btn {
        width: 10px; height: 18px;
        padding: 4px 8px; margin: 0px;
        @include border-radius(0);
      }
    }
  }
}

.table-bordered {
  @include border-radius(0);

  th,
  td,
  tr,
  tbody,
  thead,
  tfoot {
    @include border-radius(0);
  }

  th {
    border-bottom: 2px solid $tableBorder;
  }
}
