<div class="date datepicker input-append date-picker">
  <input class="date_picker required" id="<%= args[:id] -%>" name="<%= args[:name] -%>" size="<%= args[:size]||=10 -%>" type="text" style="width:70px" value="<%= args[:value] -%>">
  <span class="add-on">
    <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar">
  </i>
  </span>
</div>

